{% extends 'base.html.twig' %}

{% block body %}

    <br/>
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row example" id="example">
                    {% for book in books %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Заполнитель: миниатюра"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ book.name }}</text></svg>
                                <div class="card-body">
                                    <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Автор: {{ book.author }}</font><font style="vertical-align: inherit;"></font></font></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form method="get" action="{{ path('showBook') }}">
                                                <input type="hidden" name="id" value="{{ book.id }}">
                                                <button type="submit" name="{{ book.id }}" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть</font></font></button>
                                            </form>
                                            <form method="get" action="{{ path('updateBook') }}">
                                                <input type="hidden" name="id" value="{{ book.id }}">
                                                <button type="submit" id="updateBook" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">редактировать</font></font></button>
                                            </form>
                                        </div>
                                        <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Год: {{ book.year }}</font></font></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block stylesheets %}

{% endblock %}